.add-user-form {
  height: 100%;
  opacity: 1;
  visibility: visible;
  &.collapsed {
    opacity: 0;
    visibility: hidden;
    height: 0;
  }

  button {
    height: 100%;
    width: 100%;
    border: 1px solid $light-grey;
    border-radius: 3px;
    background: $green-50;
    cursor: pointer;
    color: $white;
    &:hover {
      background: $green-75;
    }
    &:disabled {
      color: $grey;
      cursor: default;
      background: transparent !important;
    }

  }
}

form {
  padding: 30px 0;
}

.form-group {
  .form-control {
    position: relative;
    label {
      cursor: pointer;
      opacity: 0.5;
      margin-right: 10px;
      span {
        color: $red;
      }
    }
    input {
      width: 100%;
      height: 32px;
      outline: none;
      background: transparent;
      border: none;
      border-bottom: 1px solid $light-grey;
      transition: 0.2s ease-out;
      &:focus, &:active {
        border-bottom-color: $green;
      }
      &.hidden {
        opacity: 0;
        visibility: hidden;
        position: absolute;
      }
    }
    #male:checked ~ label[for=male] {
      opacity: 1;
    }
    #female:checked ~ label[for=female] {
      opacity: 1;
    }
  }
}

