.d-f {
  display: flex;
}

.f-d-c {
  flex-direction: column;
}

.a-i-c {
  align-items: center;
}

.j-c-s-b {
  justify-content: space-between;
}

.j-c-c {
  justify-content: center;
}

.a-i-e {
  align-items: flex-end;
}