$bg: #EEEEEE;
$color: #333333;

$white: #F0F0F0;

$light-grey: #AAAAAA;
$e-grey: #EEEEEE;
$c-grey: #CCCCCC;
$grey: #666666;

$red: #ef5350;
$green: #66bb6a;
$green-50: rgba(102, 187, 106, 0.5);
$green-75: rgba(102, 187, 106, 0.75);